{
  "$schema": "https://json.schemastore.org/swcrc",
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    }
  },
  "env": {
    "targets": [
      "supports es6-module and last 4 versions",
      "Chrome >=74",
      "Edge>= 79",
      "Safari >= 14.1",
      "Firefox >= 90",
      "Opera >= 62",
      "ChromeAndroid >= 107",
      "iOS >= 15",
      "Samsung >= 11.1",
      "node >= 14"
    ]
  },
  "isModule": true,
  "module": {
    "type": "es6",
    "noInterop": true
  }
}
